
\.vs/

Model/bin/

Model/obj/

SchoolManagement/bin/

SchoolManagement/obj/

SchoolManagement/node_modules/

*.ncrunchsolution

*.ncrunchproject

SchoolManagementTest/obj/
SchoolManagementTest/bin/

EmailSender/bin/

EmailSender/obj/

EmailSenderTest/bin/

EmailSenderTest/obj/

Builders/bin/

Builders/obj/

obj/

node_modules/
