
@model SchoolManagement.Features.Shared.TitleViewModel
<div class="mt-3 mb-3">
    <div class="row">
        <div class="col-11">
            <h1 class="h3 mb-0 text-gray-800">
                @if (Model.ShowBackButton)
                {
                    @(await Html.PartialAsync("_backButtonView", Model.BackUrl))
                }
                @Model.Title
            </h1>
        </div>
        @if (Model.ShowRemoveButton)
        {
            <div class="col-1">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger" onclick="app.removeDialog.showModal(`@Model.RemoveId`)"><i class="fa fa-trash mr-1"></i>Usuń</button>
                </div>
            </div>
        }
     
    </div>
</div>