@model SchoolManagement.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-5">
        <h1>
            Wystąpił błąd podczas przetwarzania zapytania.
        </h1>
        <h4>
            @Model.Message
        </h4>
    </div>
</div>

