<div class="row">
    <div class="col-12 s">
        <div class="justify-content-center d-flex w-100">
            <h1>Ups</h1>
        </div>
    </div>
    <div class="col-12 mt-5">
        <div class="justify-content-center d-flex w-100">
            <h3>Nie masz uprawnień aby zobaczyć tą stronę</h3>
        </div>
    </div>
</div>